.multimedia__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: $color-accent-100;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 55% 50%;
}

.multimedia__link:hover {
  opacity: 0.7;
}

.multimedia__link:active {
  opacity: 0.3;
}

@media (max-width: $tablet-width) {
  .multimedia__link {
    width: 90px;
    height: 90px;
    background-size: 19px 25px;
  }
}

@media (max-width: $mobile-width) {
  .multimedia__link {
    width: 65px;
    height: 65px;
  }
}
