.promo__wrapper {
  max-width: 390px;
}

.promo h2 {
  margin: 0;
  margin-top: 48px;
  margin-bottom: 24px;
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: $color-white;
}

.promo p {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.01em;
  color: rgba($color-white, 0.8);
}

@media (max-width: $tablet-width) {
  .promo {
    padding-top: 134px;
    padding-bottom: 80px;
    background-image: url("../img/bg-promo@1x.jpg");
    background-color: $color-gray-900;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-promo@2x.jpg");
    }
  }

  .promo__wrapper {
    max-width: 435px;
    margin: 0 auto;
  }

  .promo h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
  }

  .promo p {
    font-size: 18px;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    padding-top: 119px;
    padding-bottom: 70px;
    min-height: 270px;
  }

  .promo__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
