// Colors

$color-accent-100: #0ad9c6;

$color-white: #ffffff;

$color-gray-100: #f6f7f9;
$color-gray-200: #f6f6f6;
$color-gray-300: #c9ccd4;
$color-gray-500: #48494d;
$color-gray-700: #2c2e3f;
$color-gray-800: #1f1f1f;
$color-gray-850: #1c1c1c;
$color-gray-900: #131314;

$color-black: #000000;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;
